{% extends 'index/base.html' %}


{% load staticfiles %}
{% load thumbnail %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="c-content-title-2">
                <h1 class="c-center c-font-uppercase">Фотогалерея</h1>
                <div class="c-line c-dot c-theme-bg c-theme-bg-after"></div>
                <p class="c-center">Фотографии номеров и территории гостевого дома «Черное море»</p>
            </div>
        </div>


        {% for photo in photos %}
            <div class="col-md-4 c-margin-b-40">
                <a href="{{ photo.image|thumbnail_url:'gallery_view' }}" data-lightbox='fancybox' rel="group">
                    <img class="img-responsive" src="{{ photo.image|thumbnail_url:'gallery_thumb' }}" />
                </a>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}
